name: Test and Build Plugin

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4

      - name: Install npm
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "21"

      - name: Install deps
        run: npm install

      - name: Run build
        run: npm run build

      - name: Run verify
        run: npm run verify
